@page
@model The.Great.Library.Pages.The.Great.Library.Index

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The great library</title>
</head>
<body>
    <h1>The great library</h1>
    <vc:tester message="Hello from the component" />
</body>
</html>
